extends default

block content
	.container
		.row
			.col-lg-9.col-md-9.col-sm-9.col-xs-9.pull-right(style='border-radius: 16px;')
				.well.profile.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
						figure
							img#user-img.img-circle(src='https://thefinanser.com/wp-content/uploads/2015/12/6a01053620481c970b01b7c7617a9f970b-600wi.jpg', alt='', style='width:75px; height:75px;')
							p#user-email(style='text-align:center;font-size: smaller;overflow-wrap: break-word;')
								strong Nom : #{monkeyOnly.Mname}
							p#user-email(style='text-align:center;font-size: smaller;overflow-wrap: break-word;')
								strong Age : #{monkeyOnly.age}
							p#user-frid(style='text-align:center;font-size: smaller;') 
								strong Taille : #{monkeyOnly.taille}
							p#user-role(style='text-align:center;font-size: smaller;') 
								strong Poids : #{monkeyOnly.poids}
							p#user-role(style='text-align:center;font-size: smaller;') 
								strong Job : #{monkeyOnly.job}

							.progress.my-4
								.progress-bar.bg-success(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
								span.progress-type QI : 180
									button.progress-type.btn.btn-secondary.fa.fa-pencil-square-o.fa-lg.btn-link(type='button' style='color: white')
								
							p#user-email(style='text-align:center;font-size: smaller;overflow-wrap: break-word;') 
								strong Enclos : #{monkeyOnly.enclo}
								
							.btn-group(role='group', aria-label='Basic example')
								- var SuppMonkey = '/DeleteMonkey/' + monkeyOnly.id
								a(href=SuppMonkey).button.btn.btn-secondary.fa.fa-remove(type='button')    Delete
								- var UpdateURL = '/UpdateMonkey/' + monkeyOnly.id
								a(href=UpdateURL).button.btn.btn-secondary.fa.fa-update(type='button')    Update
